@using RunGroupWebApp.ViewModel
@model DashboardViewModel

<h1>User DashBoard</h1>

<a class="btn btn-primary" asp-area="" asp-controller="Club" asp-action="Create">Create New Club</a>
<a class="btn btn-primary" asp-area="" asp-controller="Race" asp-action="Create">Create New Race</a>
<div class="album py-5 bg-light">

    <div class="container">
        <h1>Races Created By You </h1>
        <div class="row">
            @foreach (var item in Model.races)
            {
                <div class=" col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" />
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {*@

                                        <a type="button" asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a type="button" asp-controller="Race" asp-action="Delete" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Delete</a>
                                    @*}*@

                                </div>
                                <small class="text-muted">@item.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row">

            <h1>Clubs Created By You </h1>
            @foreach (var item in Model.clubs)
            {
                <div class=" col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" />
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" type="button"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {*@

                                        <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" type="button"
                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" type="button"
                                   class="btn btn-sm btn-outline-secondary">Delete</a>
                                    @*}*@

                                </div>
                                <small class="text-muted">@item.ClubCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
</div>